{include file="cabecera.html" title="Lista de Equipos en Almacen"}
<div id="resultados">
<h3>INVENTARIO DE ARTICULOS EN ALMACEN</h3>
<p>
</div>
</p>
<table class="enhancedtable" cellspacing="0" cellpadding = "3" border="1" align="center" width="100%">
	<tr> 
		<th>&nbsp;</th>	
		<th>Descripcion</th>
		<th>Tipo</th>
		<th>cantidad</th>
	</tr>
	{section name=p loop=$datos}
	<tr>
		<th>{$smarty.section.p.index_next}</th>
		<td>{$datos[p].descripcion}</td>
	    <td>{$datos[p].nombre}</td>
		<td>{$datos[p].cant}</td>
	</tr>{/section}
</table>
</div>
{include file="pie.html"}
